* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgba(149, 149, 147, 0.685);
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px 150px 150px;
    height: 120px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

header .self {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    column-gap: 20px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}


header div {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
}

header a {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.637);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

main h1 {
    margin-bottom: 10px;
}

main div {
    text-align: left;
    width: 760px;
    /* height: 200px; */
}

main ul {
    margin-left: 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.627);
}

main p {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.459);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul div {
    font-size: 20px;
}

ul a {
    color: rgba(0, 0, 0, 0.627);
    margin-right: 20px;
}